2. Requirements
1) Every 6-8 students can be grouped together to do the project.
2) Each group of students selects one interesting topic which is not limited to the options 
provided in this specification. Finally, each group should submit the proposal (appendix 1) 
with word number not less than 1000, project report (appendix 2) with word number not less 
than 3000 and source code;
3) Techniques:
a) The key features of the object-oriented programming language should be utilized, 
including class, objects, encapsulation, inheritance, polymorphism, etc. ;
b) The number of class should not be less than 5;
c) The number of levels for the inheritance hierarchy should not be less than 2;
d) The UI is needed for the system;
e) Random file processing (writing, reading, and updating) is also required in the system;
f) The lines of source code should not be less than 2000.
4) The system should be designed and implemented reasonably, efficiently and friendly.
5) Source code should be clearly commented: comments for class (a detailed description of the 
properties, behaviors, class inheritance, and derived relationships); comment for functions 
(detailed description of objectives, function parameter, principle steps /algorithms)